body {
    font-family: Bebas Neue, PT Sans, sans-serif;
    background-color:  rgb(19, 25, 36);
    color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
/* Стилизация текста */
h1, h2, h3 {
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.present-small h3, h2{
    padding: 15px;
}
.presentation h3{
    text-transform: none;
    font-weight: 500;
}
p{
    font-size: 18px;
    color: #ffffff;
}
a {
    text-decoration: none;
    font-weight: 300;
    color: #0253fa;
}

/* Стилизация навигационного меню */
header {
    background-color:  rgb(19, 25, 36);
    color: #0253fa;
    padding: 10px;
    text-align: center;
    
    position: fixed;
    display: block;
    top: 0;  
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

nav a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    font-weight: 600;
    color: #679aff;
}

nav .icon {
    display: none;
}

/*анимация закрытия нав бара*/
.container-nav{
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #0253fa;
margin: 6px 0;
transition: 0.4s;
}
.change .bar1 {
transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
transform: translate(0, -11px) rotate(45deg);
}

/* Стилизация разделов */
section {
    padding: 20px;
    margin: 20px 0;
}

/* Стилизация блоков обо мне*/
.presentation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 35px;
}
.present-small{
    border: 1px solid #0253fa;
    box-shadow: 12px 12px #0253fa;
    width: 400px;
}
.present-small h3, p{
    text-align: left;
    padding: 10px 30px 10px;
}

/* Стилизация изображений*/
img{
   /* box-shadow: 12px 12px #0253fa;*/
   width: 300px;
   margin: 10px;
}
.card img{
    box-shadow: 12px 12px #ffffff;
    width: 235px;
}

/* Стилизация примеров работ*/
.conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Стилизация блока с отзывами*/
.conteiner-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 48%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.card p {
    flex: 1;
    margin-left: 10px;
}

/* Стилизация футера */
footer {
    padding: 30px 0 15px 30px;
}
.foo-h3, footer p{
    color: #838383;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
}
footer a{
    color: #0048d8;
    font-size: 14px;
}

/* Стилизация списка контактов */
dl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding: 5px;
}

dt a{
    color: #0253fa;
    font-weight: lighter;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
dt a:hover{
    color:#679aff;
}

dd {
    color: #cbcbcb;
    margin-top: 3px;
    margin-bottom: 15px;
}

/* Стилизация списка услуг */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

/* Стилизация заголовков услуг */
li h3 {
    font-size: 18px;
    font-weight: lighter;
}



/*MEDIA*/
@media screen and (width < 950px) {
    .conteiner { grid-template-columns: repeat(2, 1fr); }
    
    .card {
        max-width: 100%;
    }
    .card p{
        max-width: 450px;
    }

  }

@media screen and (width < 700px) {
    .conteiner { grid-template-columns: repeat(1, 1fr); }

    body{
        margin: 0;
    }
    header{
        padding: 10px;
        position: relative;
        background-color:  rgb(13, 17, 26);
    }
    section{
        padding: 5px;
        margin: 10px;
    }
    nav {
        display: block;
    }    
    nav a {display: none; padding: 8px 20px 0;}
    nav a.icon {
      float: right;
      display: block;
    }
  
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

}

@media screen and (width < 550px) {
    .card{
        display: inline;
    }
    .card img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 225px;
        box-shadow: 8px 8px #ffffff;
    }
}