body {
    font-family: Bebas Neue, PT Sans, sans-serif;
    background-color:  rgb(19, 25, 36);
    color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
section{
    margin-bottom: 100px;
}
#contact{
    margin-top: 150px;
}

/* Стилизация текста */
h1, h2, h3 {
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px;
    margin: 10px 0 15px;
    text-align: center;
}
.photos-h3{
    padding-top: 30px;
    padding-bottom: 10px;
}
.present-small h3, h2{
    padding: 15px;
}
.presentation h3{
    text-transform: none;
    font-weight: 500;
}
p{
    font-size: 18px;
    color: #ffffff;
}
a {
    text-decoration: none;
    font-weight: 300;
    color: #0253fa;
}

/* Стилизация навигационного меню */
header {
    background-color:  rgb(19, 25, 36);
    color: #0253fa;
    padding: 10px 0 10px;
    text-align: center;
    
    position: fixed;
    display: block;
    top: 0;  
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

nav a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    font-weight: 600;
    color: #679aff;
}

nav .icon {
    display: none;
    padding-right: 10px;
}

/*анимация закрытия нав бара*/
.container-nav{
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #0253fa;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* Стилизация блоков обо мне*/
.presentation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 35px;
}
.present-small{
    border: 1px solid #0253fa;
    box-shadow: 12px 12px #0253fa;
    max-width: 400px;
}
.present-small h3, p{
    text-align: left;
    padding: 10px 30px 10px;
}

/* Стилизация изображений*/
img{
   /* box-shadow: 12px 12px #0253fa;*/
   max-width: 300px;
   transition: all 0.3s ease-in-out;
}
.card img{
    box-shadow: 12px 12px #ffffff;
    max-width: 235px;
}

/* Стилизация примеров работ*/
.conteiner{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 50px;
}
.item{
    max-width: 300px;
}
.item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Стилизация блока с отзывами*/
.conteiner-reviews {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    max-width: 550px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ffffff;
    border-right: 7px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.card img {
    max-width: 200px;
    max-height: 300px;
    border-radius: 100px;
    margin: 15px;
    margin-bottom: 23px;
}

/* Стилизация списка услуг */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

li{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
}

.li {
    margin: 0;
    padding: 10px;
    padding-bottom: 10px;
    width: 330px;
    height: 240px;
    
    border: 1px solid #0253fa;
    box-shadow: 12px 12px #0253fa;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.li h3 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.li p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
}
.do_it{
    display: flex;
    align-items: center;
    gap: 10px;
}
.money{
    margin-top: 15px;
    font-size: 17px;
    font-style: italic;
}
.do_it a{
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 10px;
    margin-left: 7px;
    max-height: 37px;
    border: 1px solid #0253fa;
    font-size: 17px;
    font-weight: 600;
    color: #0253fa;
    text-transform: uppercase;
    letter-spacing: 0.30em;
}
.do_it a:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

/* Стилизация футера */
footer {
    padding: 30px 0 15px 30px;
}
.foo-h3, footer p{
    color: #838383;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
}
footer a{
    color: #0048d8;
    font-size: 14px;
}

/* Стилизация списка контактов */
.cont-div{
    background-color: #fff;
    box-shadow: 12px 12px #0253fa;
    max-width: 450px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 70px;
}
.cont-div h2{
    color: #000;
}

dl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding: 5px;
}
dt a{
    color: #0253fa;
    font-weight: lighter;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
dt a:hover{
    color:#679aff;
}

dd {
    color: #000000;
    margin-top: 3px;
    margin-bottom: 15px;
}


/*MEDIA*/
@media all and (width < 1050px) {
    .card {
        max-width: 48%;
    }
    
    ul {grid-template-columns: repeat(2, 1fr); }
}

@media all and (width < 950px) {
    .conteiner { grid-template-columns: repeat(2, 1fr); }

    .card {
        max-width: 100%;
    }
    .card p{
        max-width: 450px;
    }

}

@media all and (width < 700px) {
    .conteiner { grid-template-columns: repeat(1, 1fr); }

    ul {grid-template-columns: repeat(1, 1fr); }

    body{
        margin: 0;
    }
    header{
        position: relative;
        background-color:  rgb(13, 17, 26);
    }
    nav {
        display: block;
    }    
    nav a {display: none; padding: 8px 20px 0;}
    nav a.icon {
      float: right;
      display: block;
    }
  
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

}

@media all and (width < 550px) {
    .card{
        display: inline;
    }
    .card img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 225px;
        box-shadow: 8px 8px #ffffff;
    }
}